.text1 {
  margin-top: 30px;
  margin-left: 30px;
  height: 35px;
  border-radius: 5px;
  border: solid;
  border-color: rgba(148, 148, 148, 0.746);
  border-width: 2px;
  padding-left: 12px;
  font-size: medium;
}
.google-bar {
  margin-top: 30px;
  margin-left: 40px;
  width: 350px;
  height: 30px;
  padding-left: 20px;
  border-radius: 30px;
  font-family: Arial, Helvetica, sans-serif;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.346);
  border: none;
}
.img {
  width: 50px;
  border-radius: 250px;
  height: 50px;
  object-fit: cover;
  object-position: top;
  vertical-align: middle;
}
.main-container {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 100px;
  margin-bottom: 100px;
  margin-left: 120px;
  display: inline-block;
  border: none;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.309);
  border-radius: 5px;
}
.twitter-input {
  margin-left: 5px;
  border: none;
  vertical-align: middle;
  font-size: medium;
  width: 200px;
}
.twitter-button {
  color: white;
  border: none;
  border-radius: 30px;
  background-color: rgb(0, 151, 226);
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-right: 0px;
  font-size: medium;
  transition: all 0.15s;
  vertical-align: middle;
}
.twitter-button:hover {
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.412);
}
.twitter-button:active {
  opacity: 0.7;
}
.google-container {
  width: 600px;
  height: 300px;
  display: inline-block;
  text-align: center;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.309);
  border-radius: 5px;
  padding-top: 80px;
}
.google-logo{
  width: 200px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.google-search{
  border: none;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 16px;
  padding-right: 16px;
  font-size: 16px;
  width: 500px;
  border-radius: 30px;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.2);
  margin-bottom: 30px;
}
.google-button {
  background-color: rgb(245, 245, 245);
  border: none;
  font-size: 15px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 20px;
  padding-right: 20px;
}
.search-button {
  background-color: rgb(245, 245, 245);
  border: none;
  font-size: 15px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 20px;
  padding-right: 20px;
}